@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Ruslan+Display&family=Share+Tech+Mono&family=Short+Stack&family=Wendy+One&display=swap');

.searchbox{
width: 20vw;
border-radius: 25px 50px;
position: absolute;
background-color: #ffffff;
border: solid white 2px;
top: 10px;
padding: 10px;
color: rgb(0, 0, 0);
outline: none;
font-family: 'Short Stack', cursive;
left: 5vw;
}

.searchbox:hover{
    background-color: #d3d3d3;
    outline: rgb(0, 0, 0) 3px solid
}

.cancel{
    cursor: pointer;
    display: flex;
}
.input{
    display: flex;
}

.cancelContainer{
    display: flex;
outline: 2px solid pink;
}

.test{
    display: flex;
    justify-content: flex-end;
    outline: 2px solid red;
}
