@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.greeting{
    font-family: 'Itim', cursive;
    position: absolute;
    display: grid;
    text-align: center;
    left: 33vw;
    margin-top: 50px;
}
.welcome{
font-size: 80px;
}