.item{
    justify-content: center;
    color: white;
    font-size: 1em;
    white-space: nowrap;
    display: inline-block;
    padding: .1cm;
    list-style-type: none;
    border: solid white 1px;
    margin: 4px;
    border-radius: 25px 100px;
}