.item{
    display: flex;
    color: white;
    font-size: 1.1em;
    white-space: nowrap;
    display: inline-block;
    padding: .1cm;
    list-style-type: none;
    border: solid white 2px;
    margin: 10px;
    border-radius: 25px 500px 200px;
    width: calc(7vw);
    text-align: center;
    padding-bottom: 2mm;
}

.item:hover{
    color: black;
    cursor: pointer;
    animation-name: hoverOver;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes hoverOver {
    from {}
    to{
    background-color: rgb(241, 241, 241);
    box-shadow: 3px 3px;
    }
}

.item::after{
    width: 20px;
    height: 20px;
    background-color: brown;
    position: absolute;
    left: 20px;
}

.image{
    align-items: flex-start;
    color: black;
}